/* Table Element: */
font-family: OpenSans-Light;
font-size: 36px;
color: #C2C2C2;
line-height: 49px;
/* Separator 3: */
border: 1px solid #EAEAEA;
/* Rectangle 138 Copy 3: */
background: #FAFAFA;
border: 1px solid #DDDDDD;
/* Rectangle 138 Copy 5: */
background: #F5F5F5;
border: 1px solid #DDDDDD;
/* Rectangle 138 Copy 4: */
background: #FFFFFF;
border: 1px solid #DDDDDD;
/* Path 160 Copy 3: */
border: 1px solid #DDDDDD;
/* Table Header: */
font-family: OpenSans-Semibold;
font-size: 12.49px;
color: #455A64;
line-height: 31px;
/* Table Header: */
font-family: OpenSans-Semibold;
font-size: 12px;
color: #455A64;
line-height: 31px;


/* Text Field: */
font-family: OpenSans;
font-size: 14px;
color: #4D4D4E;
line-height: 19px;
/* Label: */
font-family: OpenSans;
font-size: 12px;
color: #999999;
line-height: 17px;
/* Line: */
border: 1px solid #C2C2C2;
/* Text Field: */
font-family: OpenSans;
font-size: 14px;
color: #4D4D4E;
line-height: 19px;
/* Label: */
font-family: OpenSans;
font-size: 12px;
color: #999999;
line-height: 17px;
/* Line: */
border: 1px solid #C2C2C2;
/* Shape Copy 10: */
background: #999999;
/* Form Elements: */
font-family: OpenSans-Light;
font-size: 36px;
color: #C2C2C2;
line-height: 49px;
/* Separator 3: */
border: 1px solid #EAEAEA;
/* Checkbox Label: */
font-family: OpenSans;
font-size: 12px;
color: #999999;
line-height: 17px;
/* Rectangle 33: */
border: 1px solid #CCCCCC;
border-radius: 2px;
/* Radio Label: */
font-family: OpenSans;
font-size: 12px;
color: #999999;
line-height: 17px;
/* Rectangle 33: */
border: 1px solid #CCCCCC;
border-radius: 12px;


/* Rectangle 23: */
background: #0277BD;
box-shadow: inset 0px -2px 0px 0px rgba(77,77,78,0.50);
border-radius: 5px;
/* Normal: */
font-family: OpenSans-Semibold;
font-size: 12px;
color: #FFFFFF;
line-height: 16px;
/* Rectangle 23: */
border: 1px solid #979797;
box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.50);
border-radius: 5px;
/* Normal: */
font-family: OpenSans-Semibold;
font-size: 12px;
color: #999999;
line-height: 16px;
/* Rectangle 23: */
background: #C2C2C2;
box-shadow: inset 0px -2px 0px 0px rgba(77,77,78,0.50);
border-radius: 5px;
/* Normal: */
font-family: OpenSans-Semibold;
font-size: 12px;
color: #F5F5F5;
line-height: 16px;
/* Rectangle 23: */
background: #276285;
border-radius: 5px;
/* Hover: */
font-family: OpenSans-Semibold;
font-size: 12px;
color: #FFFFFF;
line-height: 16px;
/* Rectangle 23: */
background: #F5F5F5;
border: 1px solid #979797;
box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.50);
border-radius: 5px;
/* Hover: */
font-family: OpenSans-Semibold;
font-size: 12px;
color: #999999;
line-height: 16px;
/* Rectangle 23: */
background: #999999;
box-shadow: inset 0px -2px 0px 0px rgba(77,77,78,0.50);
border-radius: 5px;
/* Hover: */
font-family: OpenSans-Semibold;
font-size: 12px;
color: #F5F5F5;
line-height: 16px;
/* Buttons Styles: */
font-family: OpenSans-Light;
font-size: 36px;
color: #C2C2C2;
line-height: 49px;
/* Separator 3: */
border: 1px solid #EAEAEA;
/* Rectangle 170 Copy 3: */
border: 1px solid #C2C2C2;
border-radius: 4px;
/* Shape Copy 9: */
background: #999999;
/* Dropdown: */
font-family: OpenSans-Semibold;
font-size: 12px;
color: #9B9B9B;
line-height: 17px;
/* Line: */
border: 1px solid #C2C2C2;


/* H1 Heading Linked: */
border: 1px solid #EAEAEA;
font-family: OpenSans-Light;
font-size: 20px;
color: #232323;
line-height: 35px;
/* Text Styles: */
font-family: OpenSans-Light;
font-size: 36px;
color: #C2C2C2;
line-height: 49px;
/* Separator 3: */
border: 1px solid #EAEAEA;


/* Rectangle 8: */
background: #C2C2C2;
border-radius: 2px;
/* Rectangle 11: */
background: #F5F5F5;
/* Rectangle 12: */
background: #FAFAFA;
/* Rectangle 8: */
background: #4D4D4E;
border-radius: 2px;
/* Rectangle 11: */
background: #999999;
/* Rectangle 8: */
background: #0288D1;
border-radius: 2px;
/* Rectangle 11: */
background: #81D4FA;
/* Rectangle 12: */
background: #0277BD;
/* Separator 2: */
border: 1px solid #EAEAEA;
/* Swatches: */
font-family: OpenSans-Light;
font-size: 36px;
color: #C2C2C2;
line-height: 49px;


/* Rectangle 6: */
border: 1px solid #979797;
border-radius: 5px;
/* Rectangle 7: */
background: #F5F5F5;
/* Secondary: */
font-family: OpenSans-Light;
font-size: 28px;
color: #929292;
line-height: 38px;
/* Rectangle 5: */
border: 1px solid #979797;
border-radius: 5px;
/* Primary: */
font-family: OpenSans-Light;
font-size: 29.64px;
color: #929292;
line-height: 41px;
/* Separator 2: */
border: 1px solid #EAEAEA;
/* Background: */
font-family: OpenSans-Light;
font-size: 36px;
color: #C2C2C2;
line-height: 49px;


/* Separator 3 Copy: */
border: 1px solid #F5F5F5;