.o-navigation {
	//display: none;
    visibility: hidden;
    opacity: 0;
    	// @media screen and (max-width: $tablet-and-lower) {
    	// 	width: $navigation-width--tablet
    	// }
    
    //@extend %box-shadow--right;
    @include transition(opacity, 0.2s);

}
.o-navigation--open{
    position: fixed;
    top: 0;
    bottom: 0;
    //display: block;
    visibility: visible;
    opacity: 1;
    z-index: $z-navigation;
    width: 100%;
    height: 100%;
}