.o-content {
	height: 100%;
	//width:100%;
    left: $side-panel-width;
    right: 0;
    top: $header-bar-height;
    bottom: 0;
    overflow-y: auto;
    z-index: $z-content;
    background: white;
    position: absolute;//relative;
    //overflow: hidden;
    box-shadow: -3px 0 4px 0 rgba(0, 0, 0, 0.15);

    @extend .default-transition;
}

.o-content--full-screen {
	left: 0;
}