.o-navigation {
    //visibility: hidden;
    opacity: 0;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: $z-navigation;
    transition-property: transform, opacity;
    transition-duration: .2s,.1s;
    transition-delay: 0s,.2s;
    transition-timing-function:  ease-in-out, ease-in;
    transform: translate3d(0px, -100%, 0px);

}
.o-navigation--open{
    transition-delay: .1s,.0s;
    transform: translate3d(0px, 0%, 0px);
    bottom: 0;
    visibility: visible;
    opacity: 1;
}