.o-header-bar {
    position: fixed;
    top: 0;
    left: 0;//$navigation-width;
    right: 0;
    height: $header-bar-height;
    z-index: $z-header-bar;
    @extend .default-transition;
}

.o-header-bar__icons {
	position: absolute;
	top: 0;
	right: 0;
}
.o-content--full-screen .o-header-bar{
    left:0;

}