.o-body {
    float: left;
    padding: $base-spacing-unit $base-spacing-unit;

    width: 100%;
    overflow: hidden;
    border-left: 1px solid $color-gray-light;
}

.o-body--collapse {
	padding: 0;
}