.o-side-panel {
	position: fixed;
    left: 0;
    top: $header-bar-height;
    bottom: 0;
    z-index: $z-side-panel;
    width: $side-panel-width;
    
    //@extend %box-shadow--right;
    @extend .default-transition;

}
.o-side-panel--closed {
    left: - $side-panel-width;
}