.o-navigation {
	position: fixed;
    top: 0;
    bottom: 0;
    z-index: $z-navigation;
    width: $navigation-width;
    	@media screen and (max-width: $tablet-and-lower) {
    		width: $navigation-width--tablet
    	}
    border-right: 1px solid $color-gray-light;
    @extend %box-shadow--right;
    @include transition;
}