.inline-list,
.unstyled-list {
	list-style: none;
	padding: 0;
	margin:0;
}

.inline-list li {
	display: inline-block;
}

.horizontal-list {
	display: flex;
}
.horizontal-list li {
	flex-grow: 1;
	text-align: center;
	display: flex;
	a {
		flex-grow: 1;
	}
}

.multi-column {
	column-count: 2;
	column-gap: $base-spacing-unit;
	-webkit-column-count: 2;
	-webkit-column-gap: $base-spacing-unit;
	> * {
		-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
	}
}

%box-shadow--right {
	box-shadow: 4px 0 2px 0 $color-shadow;
}
%box-shadow--bottom {
	box-shadow: 0 4px 2px 0 $color-shadow;
}

.text--blue {
	color: $color-brand;
}

.text--black {
	color: $color-heading-text;
}

.text--grey {
	color: $color-ui;
}

// ----- Clearfix class
.clearfix {
  @include clearfix;
}

// ----- Positioning styles 

.left        { float: left; }
.right       { float: right; }

.text-left   { text-align: left; }
.text-right  { text-align: right; }
.text-center { text-align: center; }


// transitions
.transition-all{
	@include transition-all;
}

// ----- Spacing helper styles
// margins
@include generate-margin-spacing-classes(); // left is default
@include generate-margin-spacing-classes($right-space-vars);
@include generate-margin-spacing-classes($bottom-space-vars);
@include generate-margin-spacing-classes($top-space-vars);

// Padding
@include generate-padding-spacing-classes(); // left is default
@include generate-padding-spacing-classes($right-space-vars);
@include generate-padding-spacing-classes($bottom-space-vars);
@include generate-padding-spacing-classes($top-space-vars);