$base-font-size:    12px;

$base-line-height:  16px;

$base-radius:       3px;

$base-spacing-unit: $base-line-height;

$small-spacing-unit: $base-spacing-unit / 2;

$tiny-spacing-unit: $base-line-height / 4;

$base-border: 1px solid $color-ui;

$top-bar-vertical-spacing: $small-spacing-unit; 