$icon-prefix: 'icon';

$icon-base-width: 15px;
$icon-base-height: 15px;

$icon-base-width--large: 22px;
$icon-base-height--large: 22px;

$icon-base-width--x-large: 50px;
$icon-base-height--x-large: $icon-base-width--x-large;

$icon-color-base: $color-brand;
$icon-spacing-from-text: $small-spacing-unit;

