$tab-item-padding: 			$small-spacing-unit $base-spacing-unit ;
$tab-item-color:			$color-heading-text;
$tab-item-color--active:	$color-brand-highlight;
$tab-item-bg:				$color-gray-lighter;
$tab-item-bg--active:		none;
$tab-item-border:			2px solid $tab-item-color;
$tab-item-spacing:			2px;


$tab-content-padding: $small-spacing-unit 0;

