//Fieldset and legend settings
$legend-font-size:            $h3-font-size;
$legend-font-color:           $color-heading-text;
$legend-border:               2px solid $form-border-color;
$legend-padding:              0 0 $small-spacing-unit;
$legend-margin:               0 0 $small-spacing-unit;
$fieldset-background:         transparent;
$fieldset-border:             none;
$fieldset-margin:             0 0 $small-spacing-unit;
$fieldset-padding:            0;//$base-spacing-unit;


$text-inputs-list: 'input[type="color"]',
                   'input[type="date"]',
                   'input[type="datetime"]',
                   'input[type="datetime-local"]',
                   'input[type="email"]',
                   'input[type="month"]',
                   'input[type="number"]',
                   'input[type="password"]',
                   'input[type="search"]',
                   'input[type="tel"]',
                   'input[type="text"]',
                   'input[type="time"]',
                   'input[type="url"]',
                   'input[type="week"]',
                   'textarea';


$all-text-inputs:        assign-inputs($text-inputs-list);
$all-text-inputs-active: assign-inputs($text-inputs-list, active);
$all-text-inputs-focus:  assign-inputs($text-inputs-list, focus);
$all-text-inputs-hover:  assign-inputs($text-inputs-list, hover);

$form-text-size:              14px;
$form-input-border-base:      1px solid transparent;
$form-input-border:           1px solid $form-border-color;
$form-input-padding:          $tiny-spacing-unit+2 $tiny-spacing-unit $tiny-spacing-unit+2 0;

$label-spacing: 0;


// Read only settings
$readonly-border-color:       transparent;


// Checkbox and Radio button seettings
$radio-check-input-size:      19px;
$check-radio-spacing:         25px;
$check-radio-padding:         0 0 3px 25px;
$check-radio-border:          2px solid $form-border-color;
$check-radio-bg:              #fff;
$checkbox-radius:             5px;
$checkbox-input-icon:         "\2713";
$radio-input-icon:            "\25CF";
//disabled 
$check-radio-border--disabled: #bbb;
$check-radio-bg--disabled:    #ddd;
$check-radio-label--disabled: #aaa;
$check-radio-label-checked--disabled: #999;



$required-asterix:            $color-red;


//-- form input hover styles
@mixin form-hover {
      border-color: lighten($form-border-color,16);
      border-bottom-color: darken($form-border-color, 18);
}

//-- form input focus styles
@mixin form-focus {
      outline: none;
      border-color: transparent;
      background-color: darken($base-background-color, 2);
      border-bottom-color: $color-brand-highlight;
}


//-- form checkbox and radio input focus styles
@mixin form-check-radio-focus {
      border-bottom: 1px dotted $form-border-color;
}


//-- Input plceholder settings styles
@mixin placeholder-styles{
      color: lighten($form-input-text-color,20);
      font-style: italic;
}

//-- Required form field asterix setting styles
@mixin required-asterix{
      color: $color-red;
      border-bottom: none;
      font-size: 90%;
}