$panel-navigation-item-spacing: $small-spacing-unit $base-spacing-unit;
$panel-navigation-item-border-color: $color-gray-light;
$panel-navigation-background-color: $color-gray-lighter;

$panel-body-background-color: #FFFFFF;

$panel-header-color: $color-brand-shadow;
$panel-navigation-width: 200px;