$header-icon-wrapper-width: $icon-base-width--large+$tiny-spacing-unit;
$header-filter-spacing: $tiny-spacing-unit;
$header-filter-height: 90px;
$navigation-width: 280px;
$navigation-width--tablet: 160px;


