fieldset {
  background-color: $fieldset-background;
  border: $base-border;
  margin: 0 0 $small-spacing-unit;
  padding: $base-spacing-unit;
}

input,
label,
select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

label {
  margin-bottom: $tiny-spacing-unit;
  &.required::after {
    content: "*";
  }
}

#{$all-text-inputs},
select[multiple=multiple],
textarea {
  background-color: $base-background-color;
  border: $base-border;
  border-radius: $base-radius;
  font-family: $base-font-family;
  @include font-size($base-font-size);
  padding: $tiny-spacing-unit;
  &:hover {
  }
  &:focus {
    outline: none;
  }
}

textarea {
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $tiny-spacing-unit;
}

input[type="file"] {
  padding-bottom: $tiny-spacing-unit;
  width: 100%;
}

select {
  max-width: 100%;
  width: auto;
}

