.ui-navigation-secondary__toggle {
	@extend %nav-toggle-styles;
	right: 0;
	border-left: 2px solid darken($navigation-toggle-bg, 10);

	@extend .default-transition;
	


}

.ui-navigation-secondary--open{
	z-index: $navigation-overlay-z-index + 1;
	border-bottom: 2px solid darken($navigation-toggle-bg, 10);
	transition: none;
}

.ui-navigation-secondary__overlay{
	//background-color: pink;
}
.ui-navigation_list-item {
	margin-bottom: $small-spacing-unit;

	a{
		color: $color-text-overlay;

		&:hover{
			border-bottom-color: inherit;
		}
	}
}