$nav-dd-height: 45px;


.nav-dropdown,
.nav-select {
    position: relative;
    margin: 0 auto;
    display: block;
}

.nav-dropdown {

	> span {
	    
	}
	>i {
		   
		}

	ul{
		
	}
	ul li {
	    
	}

}
.nav-dropdown > span,
.nav-dropdown ul li span {
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.nav-dropdown > span,
//.nav-dropdown ul li:nth-last-child(-n+3) span 
{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}


.nav-dropdown__title {
	width: 100%;
    height: $nav-dd-height;
    line-height: $nav-dd-height;
    color: $color-gray;
    //font-size: 16px;
    background: #fff;
    display: block;
    padding: 0 50px 0 $base-spacing-unit;
    position: relative;
    cursor: pointer;

}
.nav-dropdown__toggle {
	z-index: 499;
    top:10%;
    bottom: 10%;
    right: 0px;
    position: absolute;
    width: $icon-base-width--large + $small-spacing-unit*2;
    text-align: center;
    border-left: 1px solid #ddd;

    .icon{
    	left: 50%;
    	margin-left: - $icon-base-width--large/2;
    	fill: $color-gray;
    	@extend .default-transition;
    }
}

// Dropdown list
.nav-dropdown__list {
	@extend .unstyled-list;
	display: block;
	position: absolute;
    top: 0;
    width: 100%;
}
.nav-dropdown__list-item {
	display: block;
    position: absolute;
	width: 100%;
    span {
	    width: 100%;
	    background: #fff;
	    line-height: $nav-dd-height;
	   	padding: 0 $base-spacing-unit ;
	    display: block;
	    color: lighten($color-gray, 10);
	    cursor: pointer;
	    @extend .default-transition;
	    //@include transition(all 0.2s linear);

	}
	// &:nth-last-child(-n+3) span {
	//     box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	//     background-color: red;
	// }
}

// -- active styles
.nav-dropdown--active {

	.nav-dropdown__title  {
	    color: $color-brand-highlight;
	}
	.nav-dropdown__title , .nav-dropdown__list-item {
	    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	}
	.nav-dropdown__list-item span {
		&:hover {
		    background: $color-brand-highlight;
		    color: #fff;
		}
	}
	
	.nav-dropdown__toggle .icon{
		fill: $color-brand-highlight;
		@extend .rotate-90;
	}
}


