// class prefix is defined in the _settings.icons.scss file





.#{$icon-prefix} {
  display: inline-block;
  width: $icon-base-width;
  height: $icon-base-height;
  speak: none; // screen readers
  vertical-align: text-top;
  line-height: 1;

  //placeholdering style -- PLEASE REMOVE
  background-color: pink;
}

//--- modifiers
.#{$icon-prefix}--large {
  width: $icon-base-width--large;
  height: $icon-base-height--large;
}
.#{$icon-prefix}--x-large {
  width: $icon-base-width--x-large;
  height: $icon-base-height--x-large;
}

.#{$icon-prefix}--no-text{
	overflow: hidden;
	text-indent: -9999px;
}
.#{$icon-prefix}--left-of-text {
	margin-right: $icon-spacing-from-text;
}
.#{$icon-prefix}--right-of-text {
	margin-left: $icon-spacing-from-text;
}

// set of styles to prevent the repeating of css value on common icon pos
%absolute-positioning--full-height{
  position: absolute;
  top: 0;
  bottom: 0;
  
}

%absolute-positioning--vertical-middle{
  position: absolute;
  display: block;
  top: 50%;
  margin-top: - $icon-base-height/2;
}

.#{$icon-prefix}--absolute-full-height {
  @extend %absolute-positioning--full-height;
}

.#{$icon-prefix}--absolute-v-middle {
  @extend %absolute-positioning--vertical-middle;

  &.#{$icon-prefix}--large {
    margin-top: - $icon-base-height--large/2;
  }
}

/*
 * -------------------------------------------------------------
 * Icons
 * -------------------------------------------------------------
 */
#dropdown-dropdown{
	fill: darken($color-brand-shadow, 10); //$icon-color-base
}


.icon--brand-color{ // this does not work
	fill:$icon-color-base;
}

.icon--white{
	fill: #fff;
}
.icon--gray{
  fill: $color-gray;
}
.icon--gray-light{
  fill: $color-gray-light;
}
.icon--gray-lighter{
  fill: $color-gray-lighter;
}




// svg g,
// svg path {
//   fill: inherit;
// }

* {
  fill: inherit;
  stroke: inherit;
  /* any other styles, such as stroke-width, that you want to override */
}