.ui-breadcrumbs {
	background-color: $color-brand-shadow;
    padding: $top-bar-vertical-spacing $header-icon-wrapper-width $top-bar-vertical-spacing $base-spacing-unit;
	@extend .inline-list;
	display: inline-block;
}
.ui-breadcrumbs__item {
	@extend .gamma;
	color: white;
	display: inline-block;
	padding-left: $small-spacing-unit;
	padding-right: $small-spacing-unit;
	a {
		color: inherit;
		
	}
}

.ui-breadcrumbs__item:first-child {
	padding-left: 0;
}

.ui-breadcrumbs__item:not(:last-child)::after {
	content: '>';
    display: inline-block;
	position: relative;
	left: $small-spacing-unit;
}
