.ui-header-bar {
	background-color: $color-brand-shadow;
	@include rem(padding, $top-bar-vertical-spacing $navigation-toggle-width $top-bar-vertical-spacing $navigation-toggle-width+$base-spacing-unit);
	position: relative;
	height: $header-bar-height;
}

.ui-header-bar__info{
	position: absolute;
	right: 0;
	//@extend .ui-navigation-header__icons;
	button{
		position: absolute;
		padding: 0;
	}
	.ui-dropdown__toggle__icon{
		border: none;
	}
}

