.ui-navigation-header {
	background-color: $color-brand-highlight;
	color: $color-text-overlay;
	position: relative;
	@include rem(padding, $top-bar-vertical-spacing $header-icon-wrapper-width $top-bar-vertical-spacing $base-spacing-unit+$icon-base-width--large+5);
	border-right: 1px solid darken($color-brand-highlight, 5);
	a {
		color: inherit;
	}
}
.ui-navigation-header__title {
	color: #fff;
	@extend .gamma;

}
.ui-navigation-header__icons {
	@extend %absolute-positioning--full-height;
	right: 0;
	width: $header-icon-wrapper-width;

	svg{
		position: absolute;
		top: 50%;
		margin-top: - $icon-base-height--large /2;
	}
}

.ui-navigation-header__logo{
	right: auto;
	left:$small-spacing-unit;
}