
.ui-tabs__list{
	@extend .unstyled-list;
}

.ui-tabs__list-item {
	background: $tab-item-bg;
	color: $tab-item-color;
	display: inline-block;
	padding: $tab-item-padding;
	cursor: pointer;
	border-bottom: $tab-item-border;
	margin-right: $tab-item-spacing;
}
.ui-tabs__list-item--active {
	border-bottom-color: $tab-item-color--active;
	color: $tab-item-color--active;
	background: $tab-item-bg--active; 
}
.ui-tabs__tab-content{
	display: none;
	padding: $tab-content-padding;
}
.ui-tabs__tab-content--active{
	display: inherit;
}
.ui-tabs__tab-content--padding{
	padding: $small-spacing-unit;
}

