.ui-breadcrumbs {
	background-color: $color-brand-shadow;
	line-height: 1;
 	@extend .inline-list;
	//display: inline;
}
.ui-breadcrumbs .ui-breadcrumbs__item{display: inline;}
.ui-breadcrumbs__item {
	@extend .gamma;
	color: $color-text-overlay;
	padding-left: $small-spacing-unit;
	padding-right: $small-spacing-unit;
	line-height: 1;
	a {
		color: inherit; 
		&:hover{
			border-color: inherit;
		}
		
	}
}

.ui-breadcrumbs__item:first-child {
	padding-left: 0;
	a {
		color: lighten($color-brand-highlight, 25);
		
	}
	
}

.ui-breadcrumbs__item:not(:last-child)::after {
	content: '\203A';
    display: inline-block;
	position: relative;
	left: $small-spacing-unit;
}

.ui-breadcrumbs {
	.ui-dropdown > .ui-dropdown__toggle:hover .ui-dropdown-list{
		width: $breadcrumb-view-submenu-width;
		left: 50%;
		margin-left: - $breadcrumb-view-submenu-width/2 + $small-spacing-unit+$base-spacing-unit;
		margin-top: $small-spacing-unit;
	}
}
