// class prefix is defined in the _settings.icons.scss file

.#{$icon-prefix} {
  display: inline-block;
  width: $icon-base-width;
  height: $icon-base-height;
  speak: none; // screen readers
  line-height: 1;
}

//--- modifiers
.#{$icon-prefix}--large {
  width: $icon-base-width--large;
  height: $icon-base-height--large;
}

.#{$icon-prefix}--no-text{
	overflow: hidden;
	text-indent: -9999px;
}

/*
 * -------------------------------------------------------------
 * Icons
 * -------------------------------------------------------------
 */
#dropdown-dropdown{
	fill: darken($color-brand-shadow, 10); //$icon-color-base
}


.icon--brand-color{ // this does not work
	fill:$icon-color-base;
}

.icon--white{
	fill: #fff;
}




// svg g,
// svg path {
//   fill: inherit;
// }

* {
  fill: inherit;
  stroke: inherit;
  /* any other styles, such as stroke-width, that you want to override */
}