
.ui-navigation-header {
	position: relative;
	border-right: 1px solid darken($ui-navigation-header-bg, 5);
	z-index: $ui-navigation-header__nav-z-index;
	@include rem(max-height, $header-bar-height);
	a {
		color: inherit;
	}

	// dropdown-nav overrides
	.nav-dropdown__title {
		box-shadow: none;
		background-color: $ui-navigation-header-bg;
	}

}


// .ui-navigation-header__title {
// 	color: #fff;
// 	@include rem(padding, $top-bar-vertical-spacing $header-icon-wrapper-width $top-bar-vertical-spacing $small-spacing-unit);
// 	margin-left: $ui-navigation-header-logo-width;
// 	@extend .gamma;
// 	position: relative;
// 	z-index: $ui-navigation-header__nav-z-index+1;
// 	height: $header-bar-height;
// 	background-color: $ui-navigation-header-bg;
// 	@extend .default-transition;
// 	&:hover{
// 		background-color: lighten($ui-navigation-header-bg, 10);
// 	}

// }
.ui-navigation-header__icons {
	@extend %absolute-positioning--full-height;
	right: 0;
	width: $header-icon-wrapper-width;

	svg{
		position: absolute;
		top: 50%;
		margin-top: - $icon-base-height--large /2;
	}
}

.ui-navigation-header__logo {
	background-color: $ui-navigation-header-bg;
	width: $ui-navigation-header-logo-width;
	right: auto;
	left:0;
	z-index: $ui-navigation-header__nav-z-index+2;
	border-right: 1px solid lighten($ui-navigation-header-bg, 5);
	svg{
		left: 50%;
		margin-left: - $header-icon-wrapper-width/2;
	}
}



/*
 * -------------------------------------------------------------
 * Dropdown-nav overrides
 * -------------------------------------------------------------
 */

.ui-navigation-header {

	// dropdown-nav overrides
	.nav-dropdown__title {
		color: $color-text-overlay;
		box-shadow: none;
		background-color: $ui-navigation-header-bg;
	}

	.nav-dropdown__list-item span{
		background: lighten($color-brand-highlight,5);
		color: $color-text-overlay;
	}
	.nav-dropdown__list-item span:hover {
	    background: lighten($color-brand-highlight,15);
	}
	.nav-dropdown__toggle {
		border-left: 1px solid lighten($ui-navigation-header-bg, 5);
		.icon {
			fill: $color-text-overlay;
		}
	}

	.nav-dropdown--active {
		.nav-dropdown__title {
			color: $color-text-overlay;
		}
		.nav-dropdown__toggle {
			.icon {
				fill: $color-text-overlay;
			}
		}
	}
}

 //--------------------------------


// .ui-navigation-header__nav {
//     width: $navigation-width; 
// }


// .ui-navigation-header__nav-list {
// 	@extend .unstyled-list;
// 	//max-height: 0;
// 	overflow: hidden;
// 	position: absolute;
// 	left: 4px;
// 	right:4px;
// 	//@extend .default-transition;
// 	@include transition(all, 0.3s, ease);
// }

// .ui-navigation-header__nav--open {
// 	.ui-navigation-header__nav-list {
// 		//max-height: 600px;
// 		z-index: $ui-navigation-header__nav-z-index;
		
// 	}
// }

// .ui-navigation-header__nav-list-item {
// 	background-color: $ui-navigation-header-bg;
// 	background-color: rgba($ui-navigation-header-bg, 0.93);
// 	padding: $small-spacing-unit;
// 	margin-top: 2px;
// }
