.ui-dropdown {
	position: relative;
	max-width: 200px;
}

.ui-dropdown__toggle {
	//padding-right: 0;
	padding-right: 0;

}
.ui-dropdown__toggle__icon {
	@include rem(padding, $button-padding-top $button-padding-right/2 $button-padding-bottom);
	border-left: 1px solid;
	@include rem(margin-left, $button-padding-right);
}
//drop down icon button color specifics
.button--blue .ui-dropdown__toggle__icon{border-color: lighten($button-border-color-shadow, 3)}
.button--white .ui-dropdown__toggle__icon{border-color: $button-border-color--white; }
.button--gray .ui-dropdown__toggle__icon{border-color: lighten($button-border-color-shadow--gray,3); }



.ui-dropdown-list {
	@extend .unstyled-list;
	width: 200px;
	position: absolute;
	border: solid 1px $button-border-color--white;
	border-radius: $base-radius;
	background-color: $base-background-color;
	box-shadow: 0 2px 4px 0 $color-shadow;
}
.ui-dropdown-list__header {
	padding: $small-spacing-unit $base-spacing-unit;
	h4{
		margin-top: -2px;
	}
	a{
		color:$color-gray;
		&:hover{
			color:$color-brand-shadow;
		}
	}
}
.ui-dropdown-list__item {
	border-top: 1px solid lighten($button-border-color--white, 5);//$form-input-border;
	a{
		display: block;
		padding: $small-spacing-unit $base-spacing-unit;
		color: $color-gray-dark;
		@include rem(line-height, 15px);
		&:hover{
			border-bottom-color: transparent;
			color:$color-brand-shadow;
			text-decoration: underline;
		}
	}
}

.ui-dropdown-list__item--header {

}


[role="separator"] {
  border-top: 1px solid darken($form-border-color,25);
}