.ui-dropdown {
	position: relative;
	z-index:5;
	max-width: 200px;
}

.ui-dropdown__toggle {
	//padding-right: 0;
	padding-right: $button-padding-right + $icon-base-width*2;

}
.ui-dropdown__toggle__icon {
	position: absolute;
	right:0;
	top:0;
	bottom: 0;
	width: $icon-base-width*2;
	//@include rem(padding, $button-padding-top $button-padding-right/2 $button-padding-bottom);
	border-left: 1px solid;
	//@include rem(margin-left, $button-padding-right);
	.#{$icon-prefix}{
		position: absolute;
		right: 50%;
		margin-right: - $icon-base-width/2;
		top: $button-padding-top;
	}
}
//drop down icon button color specifics
.button--blue .ui-dropdown__toggle__icon{
	border-color: lighten($button-border-color-shadow, 3);
	.icon{ color: lighten($button-border-color-shadow, 3)}
}
.button--white .ui-dropdown__toggle__icon{border-color: $button-border-color--white; }
.button--gray .ui-dropdown__toggle__icon{border-color: $button-border-color-shadow--gray; }


.ui-dropdown-list {
	@extend .unstyled-list;
	width: 200px;
	position: absolute;
	border: solid 1px $button-border-color--white;
	border-radius: $base-radius;
	background-color: $base-background-color;
	box-shadow: 0 2px 4px 0 $color-box-shadow;
}
.ui-dropdown-list__header {
	padding: $small-spacing-unit $base-spacing-unit;
	h4{
		margin-top: -2px;
	}
	a{
		color:$color-gray;
		&:hover{
			color:$color-brand-shadow;
		}
	}
}
.ui-dropdown-list__item {
	border-top: 1px solid lighten($button-border-color--white, 5);//$form-input-border;
	a{
		display: block;
		padding: $small-spacing-unit $base-spacing-unit;
		color: $color-gray-dark;
		@include rem(line-height, 15px);
		&:hover{
			border-bottom-color: transparent;
			color:$color-brand-shadow;
			text-decoration: underline;
		}
	}
}

.ui-dropdown-list__item--header {

}


[role="separator"] {
  border-top: 1px solid darken($form-border-color,25);
}


/*
 * -------------------------------------------------------------
 * Hide show drop down functionality
 * -------------------------------------------------------------
 */

.ui-dropdown > .ui-dropdown-list{
    background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    
    position:absolute;
    left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
    opacity: 0; //css transition reasons
    
}
.ui-dropdown > .ui-dropdown__toggle:hover + ul{ /* Display the dropdown on hover */
    left:0; /* Bring back on-screen when needed */
    opacity: 1;
    @include transition(opacity);
    //transition: opacity 0.7s ease;
}
//--- style the icon on active hover -- NEED TO SORT THIS OUT WHEN WE GET ICONS
.ui-dropdown__toggle:hover {
	.ui-dropdown__toggle__icon{
		@include transition(color, 0.3s);
	}
	&.button--blue .ui-dropdown__toggle__icon { color: darken($button-text-color,20);}
	&.button--white .ui-dropdown__toggle__icon { color: darken($button-text-color--white,20);}
	&.button--gray .ui-dropdown__toggle__icon { color: darken($button-text-color--gray,20);}
	
}
