.ui-navigation-filter {
	//height: $header-filter-height;
	border-bottom: 1px solid $color-ui;
	@extend %box-shadow--bottom
}
.ui-navigation-filter__item {
	@extend .gamma;
}

// .ui-navigation-filter__item a{
// 	padding: $top-bar-vertical-spacing $tiny-spacing-unit;
// 	display: inline-block;
// 	color: $color-text;
// 	border-bottom: 2px solid transparent;
// 	&:hover,
// 	&.active {
// 		color: $color-link;
// 		border-bottom-color: inherit;
// 	}
// }


/*
 * -------------------------------------------------------------
 * Dropdown-nav overrides
 * -------------------------------------------------------------
 */
.ui-navigation-filter {
	
	.nav-dropdown__title {
		border-bottom: 1px solid $ui-navigation-header-bg;
		box-shadow: none;
		&:hover{
			color: $color-brand-highlight;
		}

	}

	// Open styles
	.nav-dropdown--active {
		.nav-dropdown__title {
			color: $color-gray;
			border-bottom-color: transparent;
		}
		.nav-dropdown__list-item:last-child {
			border-bottom: 1px solid $ui-navigation-header-bg;
		} 
	}

}
