.ui-panel {
	@include clearfix();
	background: white;
	//@include rem(margin-bottom, 1px);
}
.ui-panel:not(.ui-panel--open) + .ui-panel > .ui-panel-header {
	border-top: none;
}

.ui-panel-header {
	border-top: 1px solid $color-ui;
	border-bottom: 1px solid $color-ui;

}
%ui-panel-header__title--hover{
	border-left: 4px solid $color-brand;

}
.ui-panel-header__title {	
	a{	
		@extend .gamma;
		color: $panel-header-color;
		padding: $panel-header-padding;
		display: block;
		border-bottom: none;
		border-left: 4px solid transparent;
		position: relative;
		&:visited{
			color: $panel-header-color;
		}
		&:hover{
			@extend %ui-panel-header__title--hover;
			color: $panel-header-color--hover;
		}
	}
	
}

.ui-panel-header__icon{
	@extend %absolute-positioning--full-height;
	right: $small-spacing-unit * 1.5;
	width: $icon-base-width--large;
	@extend .default-transition;

	svg{
		@extend %absolute-positioning--vertical-middle;
		margin-top: - $icon-base-height--large/2;
		
	}
}


//class applied when the panel header is opened
.ui-panel--open{
	.ui-panel-header i{
		@extend .rotate-90;
	}
	.ui-panel-content{
		display: block;// need to remove this when goes into angular
	}
	.ui-panel-header__title a{
		@extend %ui-panel-header__title--hover;
	}
}



.ui-panel-navigation-wrapper {
	background-color: $panel-navigation-background-color;
	width: $panel-navigation-width;
	float:left;
}

.ui-panel-navigation {
	@extend .unstyled-list;
	position: relative;
}

.ui-panel-navigation::after {
	position: absolute;
	display: block;
	content: " ";
	height: 100%;
	right: 0;
	width: 1px;
	background-color: $panel-navigation-item-border-color;
	top: 0;
}

.ui-panel-navigation__item a {
	display: block;
	border-bottom: 1px solid $panel-navigation-item-border-color;
	padding: $panel-navigation-item-spacing;
}

.ui-panel-navigation__item--active a {
	background-color: white;
	position: relative;
	z-index: 1;
}

.ui-panel-content {
	position: relative;
	background-color: $panel-navigation-background-color;
	display: none;// need to remove this when goes into angular
}

.ui-panel-body {
	@extend .content;
	background-color: $panel-body-background-color;
	height: 100%;

}
.ui-panel-navigation-wrapper + .ui-panel-body {
	margin-left: $panel-navigation-width;

}