a {
    text-decoration: none;
    color: $color-link;
    @extend .transition-all;
    @include rem(border-bottom, 1px solid transparent);
  
    &:visited{
    	color: $color-link;
    }
    &:hover,
    &:focus {
        color: darken($color-link-hover, 5);
       // text-decoration: underline;
        border-color: $color-link-hover;
    }
    &:active{}


}
