html {
    //font-size: ($base-font-size / 16px) * 1em; /* [1] */
    @include rem-baseline; // using the _rem utility package
    @include rem(line-height, $base-line-height); // Line height in rem's
    padding: 0;
    background-color: $base-background-color;
    color: $color-text;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: $color-text;
}