h1,
.alpha {
    @include font-size($h1-font-size);
    font-weight: $light-font-weight;
    margin-bottom: 0;
    line-height: 1em;
}

h2,
.beta {
    @include font-size($h2-font-size);
}

h3,
.gamma {
    @include font-size($h3-font-size);
    font-weight: $base-font-weight;
}

h4,
.delta {
    @include font-size($h4-font-size);
    font-weight: $light-font-weight;
}
