a {
    text-decoration: none;
    color: $color-link;
    @extend .default-transition;
    border-bottom: 1px solid transparent;
  
    &:visited{
    	color: $color-link;
    }
    &:hover,
    &:focus {
        color: darken($color-link-hover, 5);
       // text-decoration: underline;
        border-bottom-color: $color-link-hover ;
    }
    &:active{}


}
