input[type="button"], 
input[type="submit"], 
button {
	border: none;
	background: transparent;
}

// --- Styled as the cta buttons
.button,
a.button { //, {
	@include button-base;

	// Hover
	&:hover{
		cursor: pointer;
	}
	> .icon{
		position: relative;
		left:- $tiny-spacing-unit;
	}
}


//-- modifiers
	.button--blue{
		background-color: $button-bg;
		border-color: $button-border-color;
    	border-bottom-color:$button-border-color-shadow;
    	color: $button-text-color;
    	&:visited{
			color: $button-text-color;
		}
		// Hover
		&:hover, &:focus, &:active{
			background-color: $button-bg-hover;
			color: $button-text-color;
		}

		.icon{
			fill: $button-text-color;
		}

	}
	.button--white{
		background-color: $button-bg--white;
		border-color: $button-border-color--white;
    	border-bottom-color:$button-border-color-shadow--white;
    	color: $button-text-color--white;
    	&:visited{
			color: $button-text-color--white;
		}
		&:hover, &:focus, &:active{
			color: $button-text-color--white;
			background-color: $button-bg-hover--white;
			border-color: $button-border-color-hover--white;
		}

		.icon{
			fill: $button-text-color--white;
		}

	}
	.button--gray{
		background-color: $button-bg--gray;
		color: $button-text-color--gray;
		border-color: $button-border-color--gray;
		border-bottom-color: $button-border-color-shadow--gray;
		&:visited{
			color: $button-text-color;
		}
		&:hover{
			color: $button-text-color;
			background-color: $button-bg-hover--gray;
			border-color: $button-border-color-hover--gray;
			border-bottom-color: $button-border-color-shadow-hover--gray;
		}
		.icon{
			fill:$button-text-color;
		}

	}
	.button--block{
		display: block;
	}