h1,h2,h3,h4,h5{
	color: $color-heading-text;
    margin-bottom:0;
	a{
		text-decoration: none;
	}
}
h1,
.alpha {
    @include rem(font-size, $h1-font-size);
    font-weight: $light-font-weight;
    margin-bottom: 0;
    line-height: 1em;
}

h2,
.beta {
    @include rem(font-size, $h2-font-size);
    //margin-bottom: $h2-font-size * 0.75;
}

h3,
.gamma {
    @include rem(font-size, $h3-font-size);
    //font-weight: $base-font-weight;
    font-weight: $light-font-weight;
    //margin-bottom: $h3-font-size * 0.75;
}

h4,
.delta {
    @include rem(font-size, $h4-font-size);
    font-weight: $light-font-weight;
    //margin-bottom: $h4-font-size * 0.75;
}
