fieldset {
  background-color: $fieldset-background;
  border: $base-border;
  margin: 0 0 $small-spacing-unit;
  padding: $base-spacing-unit;
}

input,
label,
select {
  display: block;
  font-family: $base-font-family;
  @include rem(font-size, $base-font-size);
  
}

label {
  margin-bottom: $label-spacing;
  position: relative;
  &.required::after {
    content: "*";
  }
}

#{$all-text-inputs},
select[multiple=multiple],
textarea {
  width: 100%;
  background-color: $base-background-color;
  @include rem(border, 1px solid transparent);
  border-bottom: $form-input-border;
  //border-radius: $base-radius;
  font-family: $base-font-family;
  @include rem(font-size, 14px);
  color: $form-input-text-color;
  padding: $tiny-spacing-unit +2 $tiny-spacing-unit;
  &:read-only{
    border-bottom-color: transparent;
  }
  &:hover:not(:read-only) {
    border-color: lighten($form-border-color,16);
    border-bottom-color: darken($form-border-color, 18);
  }
  &:focus:not(:read-only) {
    outline: none;
    border-color: transparent;
    background-color: darken($base-background-color, 2);
    border-bottom-color: $color-brand-highlight;
  }
  &:hover,
  &:focus {
    //background-color: darken($base-background-color, 2);
    //transition: background-color 0.5s ease, border-color 0.6s ease;
    @extend .transition-all;
  }
  &:read-only{
    border-color: transparent;
  }
}

textarea {
  resize: vertical;
}


input[type="file"] {
  padding-bottom: $tiny-spacing-unit;
  width: 100%;
}

select {
  max-width: 100%;
  width: 99.8%;// auto;
}


// checkboxes and radio button styles

  /* Checkbox and radio button base for label styling */
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked,
  [type="radio"]:not(:checked),
  [type="radio"]:checked {
    position: absolute;
    left: -9999px;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label,
  [type="radio"]:not(:checked) + label,
  [type="radio"]:checked + label {
    position: relative;
    padding-left: 25px;
    @include rem(padding-bottom, 3px); 
    cursor: pointer;
    border-bottom: 1px solid transparent; // needed to stop job on :focus
  }


    /* checkbox and radio aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before,
  [type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; 
    top: 50%;
    @include rem(margin-top, - $radio-check-input-size/2);
    @include rem(width, $radio-check-input-size); 
    @include rem(height, $radio-check-input-size);

    @include rem(border, 2px solid $color-ui);

    background: #fff;
    border-radius: $base-radius;
  }
  [type="radio"]:not(:checked) + label:before,
  [type="radio"]:checked + label:before {
    border-radius: $radio-check-input-size;
  }


  /* Checkboxes- checked mark aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after,
  [type="radio"]:checked + label:after {
    content: '\2713';
    position: absolute;
    //top: 0; 
    //left:0;
    //@include rem(left, 4px);
    //font-size: 14px;
    left:0; 
    top: 50%;
    @include rem(margin-top, - $radio-check-input-size/2);
    @include rem(width, $radio-check-input-size); 
    @include rem(height, $radio-check-input-size);
    text-align: center;
    color: $color-brand-highlight;
    line-height: 1.5rem;
    //transition: all .2s;
    @extend .transition-all;
  }
  //option 2
  /* Checkboxes- checked mark aspect */
  .o1 [type="checkbox"]:not(:checked) + label:after,
  .o1 [type="checkbox"]:checked + label:after {
    content: '\203B'; //
  }
  //option 3
  /* Checkboxes- checked mark aspect */
  .o2 [type="checkbox"]:not(:checked) + label:after,
  .o2 [type="checkbox"]:checked + label:after {
    content: '\25A0'; //square
    line-height: 1.45rem;

  }

  /* Radio- checked mark aspect */
  [type="radio"]:not(:checked) + label:after,
  [type="radio"]:checked + label:after {
    content: "\25CF"; // circle 
  }
  //option 2
/* Radio- checked mark aspect */
  .o1 [type="radio"]:not(:checked) + label:after,
  .o1 [type="radio"]:checked + label:after {
    content: '\25C9'; // circle with outline
    line-height: 1.6rem;
  }
  //option 3
/* Radio- checked mark aspect */
  .o2 [type="radio"]:not(:checked) + label:after,
  .o2 [type="radio"]:checked + label:after {
    content: "\273B";
  }



  
  /* checked mark aspect changes */
  [type="checkbox"]:not(:checked) + label:after,
  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  [type="checkbox"]:checked + label:after,
  [type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }

  /* disabled checkbox */
  [type="checkbox"]:disabled:not(:checked) + label:before,
  [type="checkbox"]:disabled:checked + label:before,
  [type="radio"]:disabled:not(:checked) + label:before,
  [type="radio"]:disabled:checked + label:before {
    border-color: #bbb;
    background-color: #ddd;
  }
  [type="checkbox"]:disabled:checked + label:after,
  [type="radio"]:disabled:checked + label:after {
    color: #999;
  }
  [type="checkbox"]:disabled + label,
  [type="radio"]:disabled + label {
    color: #aaa;
  }
  /* accessibility */
  [type="checkbox"]:checked:focus + label,
  [type="checkbox"]:not(:checked):focus + label,
  [type="radio"]:checked:focus + label,
  [type="radio"]:not(:checked):focus + label {
    border-bottom: 1px dotted $color-ui;
  }

  /* hover style just for information */
  [type="radio"]:not(:checked) + label:hover:before,
  [type="radio"]:checked + label:hover:before {
    border-color: $form-border-color-hover;
    
  }


[placeholder] {
  color: lighten($form-input-text-color,20);
  font-style: italic;
}

abbr[title="Required"], abbr[title="required"]{
  color: $color-red;
  border-bottom: none;
  font-size: 90%;
}

