// The form styles

// Import the fieldset styles
@import 'elements.forms.fieldset';


input,
label,
select {
  display: block;
  font-family: $base-font-family;
  @include rem(font-size, $base-font-size);
  
}

label {
  margin-bottom: $label-spacing;
  position: relative;
  &.required::after {
    content: "*";
  }
}

#{$all-text-inputs},
select[multiple=multiple],
textarea {
  width: 100%;
  background-color: $base-background-color;
  @include rem(border, $form-input-border-base);
  border-bottom: $form-input-border;
  font-family: $base-font-family;
  @include rem(font-size, $form-text-size);
  color: $form-input-text-color;
  padding: $form-input-padding;
  &:read-only{
    border-bottom-color: $readonly-border-color;
  }
  &:hover:not(:read-only) {
    @include form-hover;
  }
  &:focus:not(:read-only) {
    @include form-focus;
  }
  &:hover,
  &:focus {
    @extend .transition-all;
  }
  &:read-only{
    border-color: $readonly-border-color;
  }
}

textarea {
  resize: vertical;
}


input[type="file"] {
  padding-bottom: $tiny-spacing-unit;
  width: 100%;
}

select {
  max-width: 100%;
  width: 99.8%;// auto;
}


// checkboxes and radio button styles

  /* Checkbox and radio button base for label styling */
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked,
  [type="radio"]:not(:checked),
  [type="radio"]:checked {
    position: absolute;
    left: -9999px;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label,
  [type="radio"]:not(:checked) + label,
  [type="radio"]:checked + label {
    position: relative;
    //padding-left: 25px;
    @include rem(padding-left, $check-radio-spacing); 
    @include rem(padding, $check-radio-padding); 
    cursor: pointer;
    border-bottom: 1px solid transparent; // needed to stop job on :focus
  }


    /* checkbox and radio aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before,
  [type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; 
    top: 50%;
    @include rem(margin-top, - $radio-check-input-size/2);
    @include rem(width, $radio-check-input-size); 
    @include rem(height, $radio-check-input-size);

    @include rem(border, $check-radio-border);

    background: $check-radio-bg;
    border-radius: $checkbox-radius;
  }
  [type="radio"]:not(:checked) + label:before,
  [type="radio"]:checked + label:before {
    border-radius: $radio-check-input-size;
  }


  /* Checkboxes- checked mark aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after,
  [type="radio"]:checked + label:after {
    content: $checkbox-input-icon;
    position: absolute;
    left:0; 
    top: 50%;
    @include rem(margin-top, - $radio-check-input-size/2);
    @include rem(width, $radio-check-input-size); 
    @include rem(height, $radio-check-input-size);
    text-align: center;
    color: $color-brand-highlight;
    line-height: 1.5rem;
    //transition: all .2s;
    @extend .transition-all;
  }
  //option 2
  /* Checkboxes- checked mark aspect */
  .o1 [type="checkbox"]:not(:checked) + label:after,
  .o1 [type="checkbox"]:checked + label:after {
    content: '\203B'; //
  }
  //option 3
  /* Checkboxes- checked mark aspect */
  .o2 [type="checkbox"]:not(:checked) + label:after,
  .o2 [type="checkbox"]:checked + label:after {
    content: '\25A0'; //square
    line-height: 1.45rem;

  }

  /* Radio- checked mark aspect */
  [type="radio"]:not(:checked) + label:after,
  [type="radio"]:checked + label:after {
    content: $radio-input-icon // circle 
  }

  //option 2
/* Radio- checked mark aspect */
  .o1 [type="radio"]:not(:checked) + label:after,
  .o1 [type="radio"]:checked + label:after {
    content: '\25C9'; // circle with outline
    line-height: 1.6rem;
  }
  //option 3
/* Radio- checked mark aspect */
  .o2 [type="radio"]:not(:checked) + label:after,
  .o2 [type="radio"]:checked + label:after {
    content: "\273B";
  }



  
  /* checked mark aspect changes */
  [type="checkbox"]:not(:checked) + label:after,
  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  [type="checkbox"]:checked + label:after,
  [type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }

  /* disabled checkbox */
  [type="checkbox"]:disabled:not(:checked) + label:before,
  [type="checkbox"]:disabled:checked + label:before,
  [type="radio"]:disabled:not(:checked) + label:before,
  [type="radio"]:disabled:checked + label:before {
    border-color: $check-radio-border--disabled;
    background-color: $check-radio-bg--disabled;
  }
  [type="checkbox"]:disabled:checked + label:after,
  [type="radio"]:disabled:checked + label:after {
    color: $check-radio-label-checked--disabled;
  }
  [type="checkbox"]:disabled + label,
  [type="radio"]:disabled + label {
    color: $check-radio-label--disabled;
  }
  /* accessibility */
  [type="checkbox"]:checked:focus + label,
  [type="checkbox"]:not(:checked):focus + label,
  [type="radio"]:checked:focus + label,
  [type="radio"]:not(:checked):focus + label {
    @include form-check-radio-focus;
  }

  /* hover style just for information */
  [type="radio"]:not(:checked) + label:hover:before,
  [type="radio"]:checked + label:hover:before {
    border-color: $form-border-color-hover;
    
  }


[placeholder] {
  @include placeholder-styles;
}

abbr[title="Required"], abbr[title="required"]{
  @include required-asterix;
}


