html {
    //font-size: ($base-font-size / 16px) * 1em; /* [1] */
   // @include font-size($base-font-size, $base-line-height);
    //font-size: $base-font-size; // set base font on html in px then use rem's on compnents and elements
    @include rem-baseline; // using the _rem utility package
    //line-height: $base-line-height; //$base-line-height / $base-font-size; /* [1] */
    @include rem(line-height, $base-line-height); // Line height in rem's
    padding: 0;
    background-color: $base-background-color;
    color: $color-text;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: $color-text;
}
