table {
  border-collapse: collapse;
  border: $table-border;
  color: $table-text-color;
}

td, th{
	@include rem(padding, $table-cell-padding);
	text-align: left;
	border: $table-cell-border;
}

// table header
thead td, thead th, th{
	@include header-cell;
}

tr:nth-child(odd){
	background-color: $table-zebra-stripe;
}