.button,a.button { //, input[type="button"], input[type="submit"], button{
	@include button-base;

	// Hover
	&:hover{
		cursor: pointer;
	}
}


//-- modifiers
	.button--blue{
		background-color: $color-brand;
		border-color: $color-brand;
    	border-bottom-color:$color-brand-shadow;
    	color: #fff !important;
		// Hover
		&:hover{
			background-color: $color-brand-shadow;
		}
	}
	.button--white{
		background-color: #fff;
		border-color: #979797;
    	border-bottom-color:$color-gray;
    	color: $color-gray;
		&:hover{
			color: $color-gray;
			background-color: #D8D8D8;
			border-color: #979797;
		}

	}
	.button--gray{
		background-color: $color-gray-light;
		color: #fff !important;
		border-bottom-color: $color-gray;
		&:hover{
			background-color: darken($color-gray-light, 10);
			border-color: darken($color-gray-light, 10);
			border-bottom-color: darken($color-gray, 10);

		}
	}
	.button--block{
		display: block;
	}